@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap');

.dosis-regular {
    font-family: 'Dosis', sans-serif;
    font-weight:400;
}
.dosis-medium {
    @extend .dosis-regular;
    font-weight: 500;
}
.dosis-bold {
    @extend .dosis-regular;
    font-weight: 600;
}
.roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}
.roboto-medium {
    @extend .roboto-regular;
    font-weight: 500;
}
.roboto-light {
    @extend .roboto-regular;
    font-weight: 300;
}