.banner{
    padding:80px 0;
    background: $mainbg-color;
    position:relative;
    @media screen and (max-width: 991px){ 
        padding: 80px 0;
    }
    .banner__img{
        right:0;
        top:50%;
        transform: translateY(-50%);
        position:absolute;
        width: 51%;
        @media screen and (max-width: 991px){ 
            display:none;   
        }
    }
    .banner__info{
        .banner__title{
            font-size: 54px;
            color: $header-color;
            margin-bottom: 18px;
            margin-top: 73px;
            line-height: 1.1;
            @media screen and (max-width: 991px){ 
                margin-top: 0;  
            }
            @media screen and (max-width: 500px){ 
                font-size: 40px; 
            }
        }
        .banner__point, .banner__paragraph{
            font-size: 14px;
            color: $header-color;
        }
        .banner__paragraph{
            margin-bottom: 18px;
            line-height: 1.71;
        }
        .banner__item{
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            .fa-check-circle{
                font-size: 16px;
                text-align: left;
                color: $header-color;
                margin-right: 18px;
            }
            .banner__point{
                display:inline-block;
                line-height: 1.2;
            }
        }
        .btn_wrapper{
            width: 202px;
            height: 50px;
            background: transparent;
            padding:5px;
            border-radius: 20px;
            margin-top: 20px;
            margin-bottom: 27%;
            @media screen and (max-width: 991px){ 
                margin-bottom: 0;  
            }
            .banner__button{
                width: 192px;
                height: 40px;
                color: $title-color;
                background-color: $header-color;
                width: 192px;
                border-radius: 20px;
                box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.1);
                border: none;
                outline: none;
            }
            &:hover{
                background: rgba(0, 0, 0, 0.1);
            }
        }
        
    }
}
.features{
    .container{
        padding-top:120px;
        @media screen and (max-width: 991px){ 
            padding-top: 80px;
        }
        .fearures__item{
            display:flex;
            justify-content: space-between;
            margin-bottom: 60px;
            
            .features__icon{
                width: 75px !important;
                height: 75px;
                border: solid 1px #eeeeee;
                background-color: #f7fafc;
                border-radius: 50%;
                text-align: center;
                margin-right: 25px;
                position: relative;
                i{
                    font-size: 24px;
                    color: $icon-color;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .features__info{
                width:71%;
                .features__title{
                    font-size: 24px;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: normal;
                    color: $title-color;
                    margin-bottom: 20px;
                }
                .features__text{
                    font-size: 14px;
                    font-stretch: normal;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 1.71;
                    color: $text-color;
                }
            }
        }
        hr{
            border-top: solid 2px #eeeeee;
            margin-top: 62px;
            margin-bottom: 0;
            @media screen and (max-width: 991px){ 
                margin-top: 20px;
            }
        }
    }
}
.do-not-leave{    
    position: relative;
    .do-not-leave__img{
        background: url(../images/iPhone.png) center no-repeat;
        overflow: visible;
        position:absolute;
        left:0;
        height:100%;
        width: 65%;
        @media screen and (max-width: 991px){
            position:relative;
            width:100%;
            height:50vh;
            background-size: contain;
        }
    }
    .do-not-leave__info{
        padding-top:120px;
        padding-bottom:120px;
        @media screen and (max-width: 991px){
            padding-top:0;
            padding-bottom:80px;
        }
        .section__title{
            font-size: 36px;
            line-height: 0.83;
            color: $title-color;
            margin-bottom: 23px;
            margin-top: 55px;
            text-align: left;
            @media screen and (max-width: 991px){
                text-align: center;
            }
        }
        .do-not-leave__paragraph{
            font-size: 14px;
            line-height: 1.71;
            color: $text-color;
        }
        .do-not-leave__paragraph:first-child{
            margin-bottom: 79px;
            @media screen and (max-width: 768px){
                margin-bottom: 37px;
            }
        }
        .do-not-leave__paragraph:nth-child(2){
            margin-bottom: 37px;
        }

        .do-not-leave__item{
            display:flex;
            margin-bottom: 20px;
            .fa-check-circle{
                font-size: 16px;
                line-height: 1.5;
                color: $title-color;
                margin-right: 20px;
            }
            .do-not-leave__point{
                font-size: 14px;
                line-height: 1.71;
                color: $text-color;
            }
        }
    }
}

.screenshots{
    background-color: #f7fafc;
    padding:120px 0;
    @media screen and (max-width: 991px){
        padding:80px 0;
    }
      #carousel{
        width:100%;
        height:500px;
        position:relative;
        clear:both;
        @media screen and (max-width: 991px){
            width:80%;
            margin:auto;
            height:400px;
        }
        @media screen and (max-width: 500px){
            width:70%;
            margin:auto;
            height:300px;
        }
        @media screen and (max-width: 300px){
            width:70%;
            margin:auto;
            height:200px;
        }
        img{
            opacity:1 !important;
            box-shadow: 0px 30px 40px 0 rgba(0, 0, 0, 0.1);
            padding:0;
            height:100%;
        }
        .nav {
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            width:110%;
            .arrow__wrap{
                position:absolute;
                width:46px;
                height:46px;
                border-radius: 50%;
                padding:3px;
                background: transparent;
                
                &:hover{
                    background: rgba(0, 0, 0, 0.1);
                    a{
                        background: $mainbg-color;
                        color: $header-color;
                    }
                }
                a{
                    display:inline-block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: solid 1px #eeeeee;
                    background-color: $header-color;
                    font-size: 14px;
                    color: $text-color;
                    position: relative;
                    i{
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform: translate(-50%, -50%);
                    }
                    
                }
            }
            .prevarr{
                left:-75px;
                    
                    @media screen and (max-width: 1350px)  {
                        left:25px;
                    }
                    @media screen and (max-width: 992px)  {
                        left:-25px ;
                    }
                    @media screen and (max-width: 767px)  {
                        left:-75px ;
                    }
                    @media screen and (max-width: 590px)  {
                        left:-25px ;
                    }
                    @media screen and (max-width: 400px)  {
                        left:-50px ;
                    }
            }
            .nextarr{
                right:-75px;
                @media screen and (max-width: 1350px)  {
                    right:25px ;
                }
                @media screen and (max-width: 992px)  {
                    right:-25px ;
                }
                @media screen and (max-width: 767px)  {
                    right:-75px ;
                }
                @media screen and (max-width: 590px)  {
                    right:-25px ;
                }
                @media screen and (max-width: 400px)  {
                    right:-50px ;
                }
            }
        }
      } 
      

}
.pricing{
    padding: 120px 0;
    @media screen and (max-width: 991px){
        padding:80px 0;
    }
    .pricing__item{
    
        @media screen and (max-width: 991px){
            margin-bottom: 20px;
        }

        &:hover{
            .pricing__bg{
                background: $header-color;
                box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.1);
            
                .pricing__price{
                    color:$header-color;
                    svg{
                        .pricing__pricebg{
                            fill:url(#paint0_linear);
                        }
                    }
                }
                .btn_wrapper{
                    background: rgba(0, 0, 0, 0.1);
                    .pricing__btn{
                        background: $mainbg-color;
                        color:$header-color;
                    }
                }
            }
        }
        .pricing__bg{
            background-color: $secondarybg-color;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 1px;

            .pricing__name{
                font-size: 20px;
                line-height: 1.2;
                text-align: center;
                color: $subtitle-color; 
                margin:15px 0;
            }
            .pricing__price{
                padding-top: 30px;
                font-size: 48px;
                text-align: center;
                color: $subtitle-color;
                line-height: 1;
                margin-bottom: 40px;
                position: relative;
                svg{
                    width:100%;
                    .pricing__pricebg{
                        fill:$header-color;
                    }
                }
                .pricing__wrap{
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    span{
                        position: relative;
                        line-height: 48px;
                        &::before{
                            content: "$";
                            position: absolute;
                            font-size: 18px;
                            line-height: 18px;
                            top:13px;
                            left:-10px;
                        }
                        &::after{
                            content: "/m";
                            position: absolute;
                            font-size: 18px;
                            line-height: 18px;
                            bottom:10px;
                        }
                    }
                }
            }
        }

        .pricing__point{
            font-size: 14px;
            text-align: center;
            color: $text-color;
            padding: 9px;
            border-bottom: dashed 1px #eeeeee;
            margin: 0 30px;
            &:last-child{
                border-bottom:none;
            }
        }
        .pricing__free{
            font-size: 14px;
            line-height: 1.71;
            text-align: center;
            color: #aaaaaa;
            margin-top: 40px;
            margin-bottom: 14px;
        }
        .btn_wrapper{
            width: 146px;
            height: 46px;
            background: transparent;
            padding:3px;
            border-radius: 20px;
            margin-left:auto;
            margin-right:auto;
            margin-bottom:35px;
            .pricing__btn{
                width: 140px;
                height: 40px;
                border-radius: 20px;
                border: solid 1px #eeeeee;
                background-color: $header-color;
                font-size: 14px;
                text-align: center;
                color: $title-color;
                outline: none;
            }
        }
    }
}
.video{
    height:400px;
    position:relative;
    .video__img{
        background: url(../images/Image.png) center no-repeat;
        background-size:cover;
        position:absolute;
        height:100%;
        width:100%;
    }
    .video__play{
        position:absolute;
        z-index:11;
        width:75px;
        height:75px;
        border-radius: 50%;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        background: $mainbg-color;
        cursor: pointer;
        padding-left:29px;
        i{
            line-height: 75px;
            font-size: 25px;
            color: #ffffff;
        }

    }
    .video__frame{
        display:none;
        .video__iframe{
            width:100%;
            height:400px;
        }
    }

}
.testimonials{
    padding:120px 0;
    @media screen and (max-width: 991px){
        padding:80px 0;
    }
    .testimonials__wrapper{
        margin-top:80px;
        position:relative;
        .owl-carousel{
            @media screen and (max-width: 1350px) and (min-width:1200px) {
                padding:0 25px;
            }
            .owl-stage-outer{
                padding:30px 0;
            }
            .center{
                .testimonials__item{
                    .testimonials__bg{
                        box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.1);
                        background-color: #ffffff;
                    }
                }
            }
            .owl-nav {
                display:block !important;
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                width:100%;
                button{
                    position:absolute;
                    outline:none;
                    .arrow__wrap{
                        width:46px;
                        height:46px;
                        border-radius: 50%;
                        padding:3px;
                        background: transparent;
                        &:hover{
                            background: rgba(0, 0, 0, 0.1);
                            a{
                                background: $mainbg-color;
                                color: $header-color;
                            }
                        }
                        a{
                            display:inline-block;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            border: solid 1px #eeeeee;
                            background-color: $header-color;
                            font-size: 14px;
                            color: $text-color;
                            position: relative;
                            pointer-events: none;
                            i{
                                position: absolute;
                                top:50%;
                                left:50%;
                                transform: translate(-50%, -50%);
                            }  
                        }
                    }
                }
                    
                .owl-prev {
                    left:-75px !important;
                    @media screen and (max-width: 1350px) and (min-width:1200px) {
                        left:-25px !important;
                    }
                    @media screen and (max-width: 500px){
                        left:-25px !important;
                    }
                    
                }
                .owl-next{
                    right:-75px !important;
                    @media screen and (max-width: 1350px) and (min-width:1200px){
                        right:-25px !important;
                    }
                    @media screen and (max-width: 500px){
                        right:-25px !important;
                    }
                }
            }
        }
        
        .testimonials__item{
            margin:0 auto;
            @media screen and (max-width: 1200px){
                width: 360px;
            }
            @media screen and (max-width: 700px){
                width:100%;
            }
            
            .testimonials__bg{
                padding:40px;
                background-color: #f7fafc;
            }
            .testimonials__text{
                font-size: 14px;;
                line-height: 1.71;
                color: $text-color;
                margin-bottom: 30px;
                text-align: left;
                @media screen and (max-width: 500px){
                    text-align: center;
                }
            }
            .testimonials__customer{
                display:flex;
                align-items: center;
                @media screen and (max-width: 500px){
                    display:block;
                    text-align: center;
                }
                .testimonials__photo{
                    
                    width:80px;
                    height:80px;
                    border-radius: 50%;
                    margin-right: 20px;
                    @media screen and (max-width: 500px){
                        margin:10px auto;
                    }
                    
                }
                #one{
                    background: url(../images/people1.png) center no-repeat;
                }
                #two{
                    background: url(../images/people2.png) center no-repeat;
                }
                #three{
                    background: url(../images/people3.png) center no-repeat;
                }
                .testimonials__name{
                    font-size: 18px;
                    line-height: 1.33;
                    color: $title-color;
                    font-weight: normal;
                }
                .testimonials__company{
                    font-size: 14px;
                    line-height: 1.71;
                    color: $text-color;
                }
            }
        }
    }
}
.download{
    padding:120px 0;
    background: $mainbg-color;
    @media screen and (max-width: 991px){
        padding:80px 0;
    }
    .section__title{
        color:$header-color;
        margin-bottom: 80px;
    }
    .row__download{
        justify-content: center;
        .download__item{
            cursor: pointer;
            height:115px;
            margin-bottom: 20px;
            .download__bg{
                background: $header-color;
                display:flex;
                height:100%;
                align-items: center;
                border-radius: 3px;
                box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.07);
                text-decoration: none;

                &:hover{
                    .download__icon{
                        &.app{
                            background: url(../images/apple_hover.png) center no-repeat;
        
                        }
                        &.android{
                            background: url(../images/android_hover.png) center no-repeat;
                            
                        }
                        &.mic{
                            background: url(../images/windows_hover.png) center no-repeat;
                        }    
                    }
                }
                .download__icon{
                    margin-right: 20px;
                    border-radius: 3px 0 0 3px;
                    position:relative;
                    width:115px;
                    height: 115px;
                    background-color: #f7fafc !important;
                    &.app{
                        background: url(../images/mac_icon.png) center no-repeat;

                    }
                    &.android{
                        background: url(../images/android.png) center no-repeat;
                        
                    }
                    &.mic{
                        background: url(../images/windows.png) center no-repeat;
                    }
                    
                }
                .download__action{
                    margin-top:30px;
                    font-size: 30px;
                    line-height: 0.8;
                    text-align: left;
                    color: $title-color;
                    margin-bottom: 14px;
                }
                .download__text{
                    font-size: 14px;
                    line-height: 1.71;
                    text-align: left;
                    color: $text-color;
                    margin-bottom: 30px;
                }
            }
        }
    }
}