.banner{
    padding:80px 0;
    background: $mainbg-color;
    position:relative;
    .banner__info{
        .banner__title{
            font-size: 54px;
            color: $header-color;
            margin-bottom: 18px;
            margin-top: 73px;
            line-height: 1.1;
        }
        .banner__point, .banner__paragraph{
            font-size: 14px;
            color: $header-color;
        }
        .banner__paragraph{
            margin-bottom: 18px;
            line-height: 1.71;
        }
        .banner__item{
            margin-bottom: 15px;
            .fa-check-circle{
                font-size: 16px;
                text-align: left;
                color: $header-color;
                margin-right: 18px;
            }
            .banner__point{
                display:inline-block;
                line-height: 1;
            }
        }
        .btn_wrapper{
            width: 202px;
            height: 50px;
            background: rgba(0, 0, 0, 0.1);
            padding:5px;
            border-radius: 20px;
            margin-top: 20px;
            margin-bottom: 27%;
            .banner__button{
                width: 192px;
                height: 40px;
                color: $title-color;
                background-color: $header-color;
                width: 192px;
                border-radius: 20px;
                box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.1);
                border: none;
            }
        }
        
    }
    .banner__img{
            right:0;
            position:absolute;
            height:86%;
    }
}
.features{
    .container{
        border-bottom: solid 2px #eeeeee;
        padding-top:120px;
        padding-bottom: 62px;
        .fearures__item{
            display:flex;
            justify-content: space-between;
            margin-left: -15px;
            margin-bottom: 58px;
            margin-right: 27px;
            &:nth-child(3n){
                margin-right: -15px;
            }
            .features__icon{
                width: 75px !important;
                height: 75px;
                border: solid 1px #eeeeee;
                background-color: #f7fafc;
                border-radius: 50%;
                text-align: center;
                margin-right: 25px;
                position: relative;
                i{
                    font-size: 24px;
                    color: $icon-color;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .features__info{
                width:71%;
                .features__title{
                    font-size: 24px;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: normal;
                    color: $title-color;
                    margin-bottom: 20px;
                }
                .features__text{
                    font-size: 14px;
                    font-stretch: normal;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 1.71;
                    color: $text-color;
                }
            }
        }
    }
}
.do-not-leave{
    background: url(../images/iPhone.png) left no-repeat;
    margin-top: -17px;
    margin-bottom: 19px;
    .do-not-leave__img{
        margin-left:-15px;
    }
    .do-not-leave__info{
        padding:120px 0;
        .section__title{
            font-size: 36px;
            line-height: 0.83;
            color: $title-color;
            margin-bottom: 23px;
            margin-top: 55px;
            text-align: left;
        }
        .do-not-leave__paragraph{
            font-size: 14px;
            line-height: 1.71;
            color: $text-color;
        }
        .do-not-leave__paragraph:first-child{
            margin-bottom: 79px;
        }
        .do-not-leave__paragraph:nth-child(2){
            margin-bottom: 37px;
        }

        .do-not-leave__item{
            display:flex;
            margin-bottom: 20px;
            .fa-check-circle{
                font-size: 16px;
                line-height: 1.5;
                color: $title-color;
                margin-right: 20px;
            }
            .do-not-leave__point{
                font-size: 14px;
                line-height: 1.71;
                color: $text-color;
            }
        }
    }
}

.screenshots{
    background-color: #f7fafc;
    padding:120px 0;

}
.pricing{
    padding: 120px 0;
    .pricing__item{
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right:0;
        }
        &:hover{
            .pricing__bg{
                background: $header-color;
                box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.1);
            
                .pricing__price{
                    color:$header-color;
                    svg{
                        width:100%;
                        position:absolute;
                        top:0;
                        left:0;
                        .pricing__pricebg{
                            fill:url(#paint0_linear);
                        }
                    }
                }
                .btn_wrapper{
                    background: rgba(0, 0, 0, 0.1);
                    .pricing__btn{
                        background: $mainbg-color;
                        
                    }
                }
            }
        }
        .pricing__bg{
            background-color: $secondarybg-color;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 1px;

            .pricing__name{
                font-size: 20px;
                line-height: 1.2;
                text-align: center;
                color: $subtitle-color; 
                margin:15px 0;
            }
            .pricing__price{
                padding-top: 30px;
                height:120px;
                font-size: 48px;
                text-align: center;
                color: $subtitle-color;
                position:relative;
                line-height: 1;
                margin-bottom: 40px;;
                svg{
                    width:100%;
                    position:absolute;
                    top:0;
                    left:0;
                    .pricing__pricebg{
                        fill:$header-color;
                    }
                }
            
                span{
                    position: relative;
                    line-height: 48px;
                    &::before{
                        content: "$";
                        position: absolute;
                        font-size: 18px;
                        line-height: 18px;
                        top:13px;
                        left:-10px;
                    }
                    &::after{
                        content: "/m";
                        position: absolute;
                        font-size: 18px;
                        line-height: 18px;
                        bottom:10px;
                    }
                }
            }
        }

        .pricing__point{
            font-size: 14px;
            text-align: center;
            color: $text-color;
            padding: 9px;
            border-bottom: dashed 1px #eeeeee;
            margin: 0 30px;
            &:last-child{
                border-bottom:none;
            }
        }
        .pricing__free{
            font-size: 14px;
            line-height: 1.71;
            text-align: center;
            color: #aaaaaa;
            margin-top: 40px;
            margin-bottom: 14px;
        }
        .btn_wrapper{
            width: 146px;
            height: 46px;
            background: transparent;
            padding:3px;
            border-radius: 20px;
            margin-left:auto;
            margin-right:auto;
            margin-bottom:35px;
            .pricing__btn{
                width: 140px;
                height: 40px;
                border-radius: 20px;
                border: solid 1px #eeeeee;
                background-color: $header-color;
                font-size: 14px;
                text-align: center;
                color: $title-color;
            }
        }
    }
}
.video{
    height:400px;
    position:relative;
    img{
        position:absolute;
        width:100%;
    }
    .video__play{
        position:absolute;
        z-index:11;
        width:75px;
        height:75px;
        border-radius: 50%;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        background: $mainbg-color;
        cursor: pointer;
        padding-left:29px;
        i{
            line-height: 75px;
            font-size: 25px;
            color: #ffffff;
        }

    }
    .video__frame{
        display:none;
        .video__iframe{
            width:100%;
            height:400px;
        }
    }

}
.testimonials{
    padding:120px 0;
    .testimonials__wrapper{
        margin-top:80px;
        .testimonials__item{
            .testimonials__bg{
                padding:40px;
                background-color: #f7fafc;
            }
            .testimonials__text{
                font-size: 14px;;
                line-height: 1.71;
                color: $text-color;
                margin-bottom: 30px;
            }
            .testimonials__customer{
                display:flex;
                align-items: center;
                .testimonials__photo{
                    
                    width:80px;
                    height:80px;
                    border-radius: 50%;
                    margin-right: 20px;
                }
                #one{
                    background: url(../images/people1.png) center no-repeat;
                }
                #two{
                    background: url(../images/people2.png) center no-repeat;
                }
                #three{
                    background: url(../images/people3.png) center no-repeat;
                }
                .testimonials__name{
                    font-size: 18px;
                    line-height: 1.33;
                    color: $title-color;
                    font-weight: normal;
                }
                .testimonials__company{
                    font-size: 14px;
                    line-height: 1.71;
                    color: $text-color;
                }
            }
        }
    }
}
.download{
    padding:120px 0;
    background: $mainbg-color;
    .section__title{
        color:$header-color;
        margin-bottom: 80px;
    }
    .download__item{
        cursor: pointer;
        height:115px;
        &:first-child{
            padding-left:0;
        }
        &:last-child{
            padding-right:0;
        }
        .download__bg{
            background: $header-color;
            display:flex;
            height:100%;
            align-items: center;
            border-radius: 3px;
            box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.07);
            &:hover{
                .download__icon{
                    &.app{
                        background: url(../images/apple_hover.png) center no-repeat;
    
                    }
                    &.android{
                        background: url(../images/android_hover.png) center no-repeat;
                        
                    }
                    &.mic{
                        background: url(../images/windows_hover.png) center no-repeat;
                    }    
                }
            }
            .download__icon{
                margin-right: 20px;
                border-radius: 3px 0 0 3px;
                position:relative;
                width:115px;
                height: 115px;
                background-color: #f7fafc !important;
                &.app{
                    background: url(../images/mac_icon.png) center no-repeat;

                }
                &.android{
                    background: url(../images/android.png) center no-repeat;
                    
                }
                &.mic{
                    background: url(../images/windows.png) center no-repeat;
                }
                
            }
            .download__action{
                margin-top:30px;
                font-size: 30px;
                line-height: 0.8;
                text-align: left;
                color: $title-color;
                margin-bottom: 14px;
            }
            .download__text{
                font-size: 14px;
                line-height: 1.71;
                text-align: left;
                color: $text-color;
                margin-bottom: 30px;
            }
        }
    }
}